*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    /* cursor: none; */
}

body {
    background-color: #262626;
    overflow-x: hidden;
}

/* --> NAV BAR */
.inner_main_menu {
    margin: 0;
    width: 100%;
}
.inner_main_menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
}
.inner_main_menu ul li {
    float: none;
    display: inline-block;
}
.inner_main_menu ul li:nth-child(1) {float: left; padding-left: 70px; margin-right: 20px;}
.inner_main_menu ul li:nth-child(2) {float: left;}
.inner_main_menu ul li:nth-child(4) {padding-left: 20px; padding-right: 70px;
}
.inner_main_menu ul li a {
    color: white;
    font-size: 16px;
    text-decoration: none;
    display: block;
    padding: 30px 20px 30px 20px;
}
#main_menu {
    width: 100%;
    position: relative;
}
.logo_area{
    width: 300px;
    left: 50%;
    margin-left: -150px;
    padding: 28px 30px 30px 30px;
    font-size: 30px;
    position: absolute;
    text-align: center;
    align-items: center;
}
.logo_area a {
    text-decoration: none;
    color: white;
}

/* --> CURSOR */
.cursor {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid black;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 0.3s ease;
    transition-property: background, transform;
    transform-origin: 100% 100%;
}
.link_grow {
    transform: scale(2);
    background: black;
}
/*.hovered_link {
    color: white; */


 #first_page {
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    position: relative;
    background: linear-gradient(45deg, #242426, #686C73, #262626, #404040);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
}
@keyframes color {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.main_text {
    position: absolute;
    align-items: center;
    text-align: center;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 90px;
    line-height: 100%;
    text-transform: uppercase;
    color: white;
    font-weight: 400;
}
h2 {
    font-size: 70px;
    line-height: normal;
    text-transform: uppercase;
    color: white;
    font-weight: 300;
}
/* h3 {
    font-size: 28px;
    line-height: 100%;
    text-transform: uppercase;
    color: white;
    font-weight: 300;
} */

.main_text h1:nth-child(1) {margin-left: -90px;}
.main_text h1:nth-child(3) {margin-left: 90px; font-family: Kalnia; font-style: italic;}
.main_text h1:nth-child(3) {font-family: Kalnia; font-style: italic;}  


 #second_page {
    height: 95vh;
    width: 100%;
    background-color: #3A3C3F;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    margin: 90px;
    height: 560px;
    width: 95%;
    display: flex;
    position: relative;
}
.wrapper_top {
    display: flex;
    width: 100%;
    height: 280px;
    position: absolute;
    justify-content: flex-end;
    flex-direction: row;
}
.wrapper_bottom {
    display: flex;
    width: 100%;
    height: 280px;
    position: absolute;
    top: 280px;
    justify-content: flex-end;
}
.item {
    width: 280px;
    height: 280px;
    padding: 15px 20px 15px 20px;
    color: white;
    flex-direction: column;
    justify-content: flex-end;
    display: flex;
}
.item p {
    font-size: 14px;
    line-height: normal;
    line-height: 1.5;
}
.item h3 { 
    margin-bottom: 10px;
    line-height: 1.5;
}
.item_1 {
    justify-content: start;
    flex: 1;
    width: 600px;
}
.item_3 {
    background-color: #404040;
}
.item_5 {
    background-color: #404040;

}
.item_7 {
    background-color: #404040;

}

#third_page {
    height: auto;
    width: 100%;
}
.container_page3 {
    display: grid;
    height: auto;
    width: 100%;
    padding: 0 90px 0 90px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    grid-template-rows: 230px auto;
}
.ourworks_div {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    width: 100%;
    position: relative;
    height: 230px;
    display: grid;
    justify-content: center;
    align-items: center;
}
.ourworks_div h2 {
    padding: 70px;
}
.container1_img {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    width: 100%;
    height: 75vh;
    position: relative;
    display: grid;
    grid-template-rows: 75vh;
    overflow: hidden;
    border-radius: 20px;
}
.container2_img {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    width: 100%;
    height: 75vh;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    gap: 10px;
    display: grid;
    grid-auto-flow: column;
}

.portrait1 {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    border-radius: 20px;

}
.portrait2 {
    width: 100%;
    object-fit: cover;
    height: 100%;
    float: left;
    opacity: 0.6;
    border-radius: 20px;

}
.portrait3 {
    width: 100%;
    object-fit: cover;
    height: 100%;
    float: right;
    opacity: 0.6;
    border-radius: 20px; 
}
